.title {
  text-align: center;
}

.main {
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.avatar {
  width: 30%;
}
.name {
  font: bold 24px/32px Arial, Helvetica, sans-serif;
  color: rgb(16, 94, 83);
}

.profile-description {
  margin-top: 40px;
  font: bold 20px/26px Arial, sans-serif;
  text-align: left;
  color: #000;
}

.link {
  margin-top: 20px;
  font: bold 20px/26px Arial, sans-serif;
}